.wrapper {
  position: relative;
  width: 100%;
  height: 885px;
  /* overflow: hidden; */
}

.bg {
  position: absolute;
  width: 100%;
  height: 885px;
  object-fit: cover;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.half {
  position: absolute;
  width: 950px;
  height: 950px;
  top: -34px;
  left: -556px;
}

.female {
  position: absolute;
  height: 880px;
  left: 0;
  bottom: 0;
}

.vectorTL {
  position: absolute;
  top: -15px;
  left: -15px;
  transform: translate(-40%, -40%);
  width: 120px;
}

.vectorBR {
  position: absolute;
  right: -15px;
  bottom: -15px;
  transform: translate(40%, 40%);
  width: 120px;
}

.right {
  position: absolute;
  top: -2px;
  right: 160px;
  width: 600px;
  color: white;
}

.title {
  font-family: "ADLaM Display";
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 12px;
  font-weight: 400;
}

.sub {
  font-family: Poppins;
  font-size: 19px;
  line-height: 32px;
  margin-bottom: 40px;
}

.steps {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* step boxes Figma values */
.stepBox {
  width: 500px;
  height: 60px;
  padding: 20px 30px;
  border-radius: 15px;
  background: white;
  display: flex;
  align-items: center;
  gap: 22px;
}

.num {
  font-family: Poppins;
  font-weight: 700;
  font-size: 30px;
  color: #000;
}

.text {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  color: #000;
}

/* arrows desktop positioning */
.arrow {
  position: absolute;
  width: 60px;
}

/* arrow mapping (from your figma curve positions) */
.a1 { top: 35px; left: 560px; }
.a2 { top: 160px; left: -56px; }
.a3 { top: 294px; left: 561px; }
.a4 { top: 411px; left: -60px; }

/* ===== TABLET ===== */
@media (max-width: 1024px) {
  .right {
    right: -35px;
    top: -50px;
  }
  .stepBox {
    width: 420px;
    height: 83px;
    padding: 18px 24px;
  }
  .arrow {
    width: 55px;
    left: 400px;
    display: none;
  }
}

/* ===== MOBILE REMOVE ARROWS ===== */
@media (max-width: 768px) {
  .arrow {
    display: none;
  }

  .wrapper {
    height: auto;
    padding-bottom: 80px;
  }

  .female {
    display: none;
  }

  .half {
    left: -400px;
    width: 700px;
  }

  .right {
    position: relative;
    top: -100px;
    right: 0;
    margin: 0 auto;
    padding-top: 80px;
    width: 90%;
    text-align: left;
  }

  .stepBox {
    width: 88%;
    height: 85px;
  }

  .title {
    font-size: 42px;
    line-height: 44px;
  }

  .sub {
    font-size: 16px;
    line-height: 24px;
  }
}
