.wrapper {
  width: 1248px;
  height: 286px;
  border-radius: 24px;
  background: #353EA6;
  padding: 40px;
  margin: auto;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

/* Title */
.title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 10px;
}

/* Subtitle */
.sub {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  opacity: 0.9;
  margin-bottom: 25px;
}

/* Input row */
.inputRow {
  width: 640px;
  height: 76px;
  border-radius: 15px;
  padding: 10px 25px;
  background: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Input */
.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  font-family: Poppins;
}

/* Button */
.btn {
  width: 140px;
  height: 56px;
  border-radius: 15px;
  background: #E41F3A;
  color: white;
  border: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background: #353EA6;
}

/* Vectors */
.vectorTL, .vectorBR {
  position: absolute;
  width: 120px;
  height: 120px;
}

.vectorTL {
  top: -61px;
    left: 67px;
    z-index: -1;
}

.vectorBR {
 bottom: -106px;
    right: -115px;
}

/* Responsiveness */
@media (max-width: 1024px) {
  .wrapper {
    width: 90%;
    height: auto;
  }

  .inputRow {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .inputRow {
    flex-direction: column;
    height: auto;
    background: transparent;
    padding: 0;
  }

  .input {
    width: 100%;
    height: 56px;
    border-radius: 15px;
    padding: 0 15px;
    background: white;
  }

  .btn {
    width: 100%;
    height: 56px;
  }
}
