.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 80px;
  padding-bottom: 120px;
}

.bgLayer {
  width: 1530px;
  height: 800px;
  background: url("../../../../public/TestimonialsBg.png") no-repeat center/cover;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title {
  margin-top: 70px;
  text-align: center;
  font-family: "ADLaM Display";
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  color: white;
}

.cardContainer {
  display: flex;
  gap: 40px;
  margin-top: 60px;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.card {
  width: 400px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  position: relative;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
}

.cardHeader {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin-bottom: 14px;
}

.personImg {
  width: 81px;
  height: 81px;
  object-fit: cover;
  border-radius: 5px;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-family: Manrope;
  font-weight: 800;
  font-size: 10px;
  color: #000;
}

.role {
  font-family: Manrope;
  font-weight: 500;
  font-size: 8px;
  margin-top: 2px;
  color: #000;
  opacity: 0.7;
}

.stars {
  width: 102px;
  margin-left: auto;
}

.desc {
  margin-top: 10px;
  font-family: Inter;
  font-size: 14px;
  line-height: 21px;
  color: #000;
  opacity: 0.9;
}

.quote {
  width: 66px;
  position: absolute;
  bottom: -20px;
  left: 20px;
}

.vectorTL {
  position: absolute;
  top: 67px;
  left: 0;
  transform: translate(-40%, -40%);
  width: 120px;
}

.vectorBR {
  position: absolute;
  bottom: 107px;
  right: 0;
  transform: translate(40%, 40%);
  width: 120px;
}
